@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
;
:root{
--Green-200: hsl(148, 38%, 91%);
--Green-600: hsl(169, 43%, 63%);
--Red: hsl(0, 66%, 54%);
--White: hsl(0, 0%, 100%);
--Grey-500: hsl(186, 15%, 59%);
--Grey-900: hsl(187, 24%, 22%);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Karla", sans-serif;
}

body{
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;
background-color: var(--Green-200);
}

.container{
background-color: var(--White);
padding: 30px;
border-radius: 10px;
}

input[type="text"],
input[type="email"],
textarea{
    display: block;
}

.group-name{
    display: flex;
}

.erro{
    border: 1px solid var(--Red);
}

.message-erro{
    color: var(--Red);
}